{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<style>
    .custom-error-style{
        color: red;
        padding-left: 5px;
    }
</style>

    <div class="register-container d-flex justify-content-center align-items-center min-vh-85">
        <div class="card shadow-sm border-light rounded-lg w-md-100" style="width: 500px; height: 75vh; padding: 0px 30px">
            <div class="card-body">
            <h1 class="h1 mb-5 text-center font-weight-bold">Register</h1>

            {# {{ form_errors(registrationForm) }} #}

            {{ form_start(registrationForm) }}
                <div class="form-group">
                
                {{ form_label(registrationForm.NomClient, 'Nom: ') }}
                {{ form_widget(registrationForm.NomClient,{'attr':{'class':' form form-control mb-3'}}) }}
                <div class="custom-error-style">
                    {{ form_errors(registrationForm.NomClient) }}
                </div>
                
                {{ form_label(registrationForm.PrenomClient, 'Prenom: ') }}
                {{ form_widget(registrationForm.PrenomClient,{'attr':{'class':' form form-control mb-3'}}) }}
                <div class="custom-error-style">
                    {{ form_errors(registrationForm.PrenomClient) }}
                </div>
                
                {{ form_label(registrationForm.email, 'Email: ') }}
                {{ form_widget(registrationForm.email, {'attr':{'class':' form form-control mb-3'}}) }}
                <div class="custom-error-style">
                    {{ form_errors(registrationForm.email) }}
                </div>
                
                {{ form_label(registrationForm.NumTel, 'Num Tel: ') }}
                {{ form_widget(registrationForm.NumTel,{'attr':{'class':' form form-control mb-3'}}) }}
                <div class="custom-error-style">
                    {{ form_errors(registrationForm.NumTel) }}
                </div>
                
                {{ form_label(registrationForm.password, 'Mot de passe: ') }}
                {{ form_widget(registrationForm.password, {
                    label: 'Password','attr':{'class':' form form-control'}
                }) }}
                <div class="custom-error-style">
                    {{ form_errors(registrationForm.password) }}
                </div>

                
      
                <button type="submit" class="btnbtn btn-lg btn-primary btn-block">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>

    <style>
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;  /* Set minimum height for full viewport */
    height: 85vh; 
  
	
   border: 1px solid black;

   margin-bottom: 100px;
   margin-right: 80px;
   margin-left: 80px;
   background-image: url('/assets/images/image 2.jpg');
    background-size: cover; /* Pour couvrir tout le div */
    background-position: center;
    background-repeat: no-repeat;
    }
    </style>
{% endblock %}