<div class="container mt-5">
    <a href="{{ path('ajouter_page') }}" class="btn btn-success btn-sm mb-4">Ajouter un livre</a>

    <table class="table" style="font-family:ui-monospace, sans-serif; font-size: 15px;">
        <thead>
            <tr>
            
                <th>Image</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix(€)</th>
                <th>Auteur</th>
                <th>Catégorie</th>
                <th>N°Pages</th>
                <th>Langue</th>
                <th>Solde(%)</th>
                <th>Stock</th>
                <th>Date Publication</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for livreReel in livresReels %}
                <tr>
                    <td><img src="{{ livreReel.getImageUrl() }}" alt="Image du livre" style="max-width: 100px; height: 100px;"></td>
                    <td>{{ livreReel.getTitre() }}</td>
                    <td>
                        <div style="max-height: 100px; overflow-y: auto;">
                            {{ livreReel.getDescription() }}
                        </div>
                    </td>
                    <td>{{ livreReel.getPrix() }}</td>
                    <td>{{ livreReel.getAuteur() }}</td>
                    <td>{{ livreReel.getCategorie() }}</td>
                    <td>{{ livreReel.getNbrPage() }}</td>
                    <td>{{ livreReel.getLangue() }}</td>
                    <td>{{ livreReel.getSolde() }}</td>
                    <td>{{ livreReel.getStock() }}</td>
                    <td>{{ livreReel.getDatePublication()|date('Y-m-d') }}</td>
                    <td>
                    
                        <a href="{{ path('livre_details', {'id': livreReel.id}) }}" class="btn btn-success btn-sm">detail</a>
                        <a href="{{ path('modifier_livre', {'id': livreReel.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                        <a href="{{ path('supprimer_livre', {'id': livreReel.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce livre ?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
     <dir></dir>
</div>
