{% extends "base.html.twig" %}

{% block title %}mes livres{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/livresReel.css') }}"> 
{% endblock %}

{% block body %}
  {# <div class="">
    <div class="col-lg-8 border p-3 main-section bg-white">
      <div class="row hedding m-0 pl-3 pt-0 pb-3">
        
      </div>
      <div class="row m-0">
        <div class="col-lg-4 left-side-product-box pb-3">
          <img src="{{ LivreReel.imageUrl }}" class="border p-3">
        </div>
        <div class="col-lg-8">
          <div class="right-side-pro-detail border p-3 m-0">
            <div class="row">
              <div class="col-lg-12">
                <span>{{ LivreReel.titre }} by {{ LivreReel.auteur }}</span>
                <p class="m-0 p-0">{{ LivreReel.langue }}</p>
              </div>
              <div class="col-lg-12">
                <p class="m-0 p-0 price-pro">{{ LivreReel.prix }} DT</p>
                <hr class="p-0 m-0">
              </div>
              <div class="col-lg-12 pt-2">
                <h5>Livre details :   Rating : {{averageStars}}/5</h5>
                <span>{{ LivreReel.description }}</span>
                <hr class="m-0 pt-2 mt-2">
              </div>
              <div class="col-lg-12">
                <p class="tag-section"><strong>Tag : </strong><a href="">#</a><a href="">{{ LivreReel.categorie }}</a></p>
              </div>
              <div class="col-lg-12 mt-3">
                <div class="row">
                  <div class="col-lg-6 pb-2">
                    <div >
                      <form method="POST">
                        <button type="submit"  class="btn btn-success w-100" name="add_to_cart">Add To Cart</button>
                      </form>
                      </div>
                    <form method="POST">
                      <button type="submit"  class="btn btn-success w-100" name="add_to_cart">Add To Cart</button>
                    </form>
                    
                  </div>
                  <div class="col-lg-6">
                    <a href="{{ path('app_mes_livres_reel') }}" class="btn btn-info w-100">continue shopping</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div> #}


<div class="box-border h-16 w-32 p-4 border-4 ...">
  <!-- ... -->
</div>


<div class="widget-property-detail mx-30">
                <div class="themesflat-container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="wrap-property-car flex">
                                <div class="box-1">
                                    
                                    <div class="title-heading">{{ LivreReel.titre }} </div>

                                    <div class="text-address">
                                        
                                        <p> by {{ LivreReel.auteur }} in {{ LivreReel.langue }}</p>
                                    </div>
                                </div>
                                <div class="box-2 t-al-right">
                                    <div class="icon-boxs flex">
                                        
                                    </div>
                                    <div class="price-wrap flex">
                                        <p class="price-sale">{{ LivreReel.prix - 4}}</p>
                                        <p class="price">{{ LivreReel.prix  }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                            
                                
                                    <div class="swiper-wrapper flex justify-center items-center" id="" aria-live="polite" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                        
                                        <div class="swiper-slide swiper-slide-active flex justify-center items-center" role="group" aria-label="1 / 10" style="width: 735px; margin-right: 10px;">
                                             <img src="{{ LivreReel.imageUrl }}" alt="Image" class="w-64 h-auto">
                                        </div>
                                        <div class="driver-price-wrap mb-40">

                              <form method="POST">
                                 <button type="submit"  class="btn btn-danger w-100 " name="add_to_cart" >Add To Cart</button>
                              </form>
                                <a class="offer-price" data-bs-toggle="modal" href="#offer-price" role="button">
                                    see more books
                                    <i class="icon-Group-12"></i>
                                </a>

                            </div>
                                    </div>
                                    
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                            
                       
                    
                    <div class="row ">
                        <div class="col-lg-8 col-md-12">
                            <div class="post-property">
                                <div class="wrap-description wrap-style">
                                    <h4 class="title">Description</h4>
                                    <p>{{ LivreReel.description }}</p>
                                </div>
                            </div>

<p class="tag-section text-xl text-black ">
    <strong>Tag :</strong>
    <a href="#" class="text-2xl">#</a>
    <a href="#" class="text-2xl">{{ LivreReel.categorie }}</a>
</p>

<p class="tag-section text-xl text-black">
    <strong>averageStars :</strong>
    <a href="#" class="text-2xl">#</a>
    <a href="#" class="text-2xl"> Rating : {{averageStars}}/5</a>
</p>
<p class="tag-section text-xl text-black">
    <strong>author :</strong>
    <a href="#" class="text-2xl">#</a>
    <a href="#" class="text-2xl"> Rating : {{LivreReel.Auteur}}</a>
</p>



                        </div>
                        <div class="col-lg-4 col-md-12">
                            
                            <div class="author-contact-listing-wrap">
                                <div class="author-contact-wrap">

                                    <div class="author-contact-info">
                                        <h4 class="name"> Admin </h4>
                                        <p class="desc">SITE OWNER</p>
                                        <span class="number-phone">
                                            <i class=" icon-Group-14"></i>
                                            +1900 67 xxx (show)
                                        </span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>



      <section class="pb-4 col-lg-8 border p-3">
        <div class="border rounded-5">
          <h2>Add your own feedback</h2>
          {{ include('livres/_formCommantaire.html.twig') }}
          <div class="w-full bg-white rounded-lg border p-2 my-4 mx-6">
            <h3 class="font-bold">Discussion</h3>
            <form>
              {% for commentaire in commentaires %}
                <div class="flex flex-col">
                  <div class="border rounded-md p-3 ml-3 my-3">
                    <div class="flex gap-3 items-center">
                      <h3 class="font-bold">
                        {{ commentaire.IdClient }}
                      </h3>
                      <div class="star-rating">
                        {% for i in 1..5 %}
                          {% if i <= commentaire.Evaluation %}
                            <i class="fas fa-star"></i>
                          {% else %}
                            <i class="far fa-star"></i>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                    <p class="text-gray-600 mt-2">
                      {{ commentaire.Contenue }}
                    </p>
                    <p class="text-gray-600 mt-2">
                      date : {{ commentaire.Date|date("d/m/Y H:i") }} 
                    </p>
                  </div>
                </div>
              {% endfor %}
            </form>
          </div>
        </div>
      </section>
       
    </div>
    
  </div>



  
{% endblock %}
